/* Global stuff */
.header {
  margin-bottom: 30px;
}
.header h1 {
  font-weight: 700;
}
a code.highlighter-rouge {
  text-decoration: underline;  /* links in fixed width text are impossible to see without this */
}

/* Keep footer pinned to bottom on short pages. */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
  font: 400 16px 'PT Serif', serif;
  line-height: 1.35;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #f5f5f5;
}

@media (max-width: 435px) {
  /* Footer needs more veritcal space on mobile. */
  body {
    margin-bottom: 230px;
  }
  .footer {
    height: 230px;
  }
}
