/* Global stuff */
.header {
  background-color: #dedede;
  padding-bottom: 10px;
}
.header h1 {
  font-weight: 700;
}
a {
  color: #1b5a90;
}
a code.highlighter-rouge {
  text-decoration: underline;  /* links in fixed width text are impossible to see without this */
}

/* header-link is the little paragraph marker things for named anchor linking */
a.header-link:hover {
  color: #999;
  text-decoration: none;
}
.header-link {
  margin-left: 0.25em;
  color: #999;
  text-decoration: none;
  opacity: 0;
  \-webkit-transition: opacity 0.2s ease-in-out 0.1s;
  \-moz-transition: opacity 0.2s ease-in-out 0.1s;
  \-ms-transition: opacity 0.2s ease-in-out 0.1s;
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link {
  opacity: 1;
}

.header .blog-title {
  font-size: 230%; /* 230 makes it fit iphone5 */
  font-weight: 700;
  margin-bottom: 0;
  padding: 3px 0 4px 0;
  border-bottom: 1px solid black;
  line-height: 1;
}
.header .blog-title a {
  color: #222;
  text-decoration: none;
}

div.article {
  margin-top: 10px; /* only applies on post pages, not homepage */
}

/* Keep footer pinned to bottom on short pages. */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
  font: 400 16px 'PT Serif', serif;
  line-height: 1.35;
  color: #222;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 16px;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #dedede;
  border-top: 3px solid #bbb;
}

@media (max-width: 435px) {
  /* Footer needs more veritcal space on mobile. */
  body {
    margin-bottom: 195px;
  }
  .footer {
    height: 195px;
  }
  /* indent bullet lists less (40px def). Helps on narrow mobile. */
  .article ul {
    padding-left: 25px;
  }
}

@media (max-width: 320px) {
  /* Footer needs EVEN more veritcal space on narrow mobile like iphone 5. */
  body {
    margin-bottom: 230px;
  }
  .footer {
    height: 230px;
  }
}

/* make the date small and lower contrast on index page */
.post-list .date {
  color: #999;
  font-size: small;
}

/* space out items in list of posts */
.post-list li {
  margin-bottom: 0.5em;
}

.article h1 {
  margin: 0;
}
.article h1 small {
  font-size: medium;
  color: #222;
  display: block;
}

.article .post-date {
  color: #777;
  font-size: small;
}

#disqus_thread {
  margin: 2em 0 4em 0;
}
