---
layout: default
title: Home
---
<h2>Featured Articles</h2>
<ul class="list-unstyled post-list">
  <li><a href="{% post_url 2016-07-18-circlet-simple-scala-web-framework %}">Circlet &amp; Usher: Simple Web apps in Scala</a></li>
  <li><a href="{% post_url 2016-10-15-multiplayer-game-architecture %}">Multiplayer game architecture</a></li>
</ul>

<h2>All Articles</h2>
<ul class="list-unstyled post-list">
  {% for post in site.posts %}
    <li>
      <span class="date"><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d-%b-%Y" }}</time></span><br>
      <a href="{{ post.url }}">{{ post.title }}{% if post.subtitle %} - {{ post.subtitle }}{% endif %}</a>
    </li>
  {% endfor %}
</ul>

