<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Mark Feeney"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page.description %}
    <meta name="description" content="{{ page.description }}"/>
    {% else %}
    <meta name="description" content="Proof By Example: Programming stuff by Mark Feeney"/>
    {% endif %}

    <title>{{ page.title }} - Proof by Example</title>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/proofbyexample/">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/monokai.css">
    {% include analytics.html %}
  </head>
  <body>

    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1><a href="/" title="Home page">Proof By Example</a></h1>
            <small>Programming blog by Mark Feeney</small>
          </div>
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          {{ content }}
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-sm-8 col-sm-offset-2">
            <p>
              <dl class="dl-horizontal">
                <dt>About</dt>
                <dd><em>Proof By Example</em> is written by Mark Feeney.  I don't claim to know anything at all.</dd>
                <dt>Follow</dt>
                <dd>
                  <a href="https://twitter.com/overthink">@overthink</a>,
                  <a href="https://github.com/overthink">github</a>,
                  <a href="http://stackoverflow.com/users/69689/overthink">stackoverflow</a>,
                  <a href="http://www.linkedin.com/in/mfeeney">linkedin</a>,
                  <a href="http://blog.markfeeney.com">old blog</a>
                </dd>
              </dl>
            </p>
            <p class="copyright text-center text-muted small">
              Copyright &copy; 2013-2017 Mark Feeney.<br/>
              <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/80x15.png" /></a> Non-commercial re-use with attribution encouraged; all other rights reserved.<br/>
              Comments are the property of their respective posters.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuery necessary for Bootstrap's JavaScript plugins -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </body>
</html>

